* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
}

p {
    font-size: 15pt;
    font-weight: 600;
}

.historyEntry {
    height: 100%;
    font-size: larger;
    background-color: white;
    border: solid 1px #cecfd2;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 5px 12px 15px;
    list-style: none;
}

.five-day-card {
    margin-left: 5px;
    width: 175px;
    height: auto;
    border-radius: 5px;
    color: white;
    font-size: larger;
    background-color: #3498db;
}

.five-day-container, .card-text {
    margin-bottom: 15px;
    padding: 10px 30px 5px 10px;
}

.five-day-container h1 {
    margin-top: 25px;
    margin-left: 5%;
}

.card-row {
    display: flex;
    flex-direction: row;
}

img {
    width: 100px;
    height: auto;
}

.low {
    background-color: green;
    padding: 8px;
    width: 170px;
    height: 76px;
    border: 1px solid green;
}

.moderate {
    background-color: yellow;
    padding: 8px;
    width: 170px;
    height: 60px;
    border: 1px solid yellow;
    
}

.high {
    background-color: red;
    padding: 8px;
    width: 170px;
    height: 60px;
    border: 1px solid red;
}